h1 {
  font-size: 90px;
  color: black;
  text-align: center;
}


.navigation {text-align: center;
  margin: 85px auto 45px;
}

.content {font-family: Pacifico, Anton;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.65em;
}

.footer {font-size: 18px;
  line-height: 24px;
  margin-left: 30px;
  opacity: .8;
}

